.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 10vh;
}
.navbar-title{
    /* margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-x);
}
.navbar-links{
    display: flex;    
    justify-content: center;
    align-items: center;
}
.navbar .navbar-links ul{
    /* margin-right: 7rem;
    margin-top: 0.3rem; */
    padding: 0%;
    display: flex;   
    /* justify-content: center;
    align-items: center; */
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    font-size: var(--size-s);
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: var(--secondary-color);
}
.navbar-links li:hover a{
    background-color: #f5f0e1;
    color: var(--primary-color);
    text-transform: capitalize;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 4vh;
    width: 3rem;
}
.toggle-button .bar{
    height: .25rem;
    width: 100%;
    background-color: blanchedalmond;
    border-radius: 1rem;
}
/* .close{
    position: absolute;
    right: 0;
}
.close:hover{
    cursor: pointer;
}
.contact{
    display: none;
} */
.content{
    display: none;
    background-color: var(--quaternary-color);
    /* height: 198vh; */
    border: 2px solid var(--quaternary-color);
}
.content-box{
    /* height: ; */
    width: 70%;
    margin: 0vh auto ;
    /* border: 2px solid green; */

}

.date{
    margin: 2vh 0vh;
    font-size: var(--size-es);
}
.heading {
    font-size: var(--size-pen);   
    line-height: var(--size-l);
    font-family: Lato,sans-serif;
    margin: var(--margin);
    text-align:center;
    font-weight: 700;
}
.point-text p{
    font-size: var(--size-pen);   
    line-height: var(--size-l);
    font-family: Lato,sans-serif;
    margin: var(--margin);
    text-align:left;
}
.links{
    border: 2px solid black;
    width: 100;
    height: 98vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.about{
    width: 75vh;
    height: 40vh;
    background-color: var(--tertiary-color);
    z-index: 1;
    font-size: var(--size-x);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;
    text-align: center;
}