.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 10vh;
}
.navbar-title{
    /* margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-x);
}
.navbar-links{
    display: flex;    
    justify-content: center;
    align-items: center;
}
.navbar .navbar-links ul{
    /* margin-right: 7rem;
    margin-top: 0.3rem; */
    padding: 0%;
    display: flex;   
    /* justify-content: center;
    align-items: center; */
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    font-size: var(--size-s);
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: var(--secondary-color);
}
.navbar-links li:hover a{
    background-color: #f5f0e1;
    color: var(--primary-color);
    text-transform: capitalize;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 4vh;
    width: 3rem;
}
.toggle-button .bar{
    height: .25rem;
    width: 100%;
    background-color: blanchedalmond;
    border-radius: 1rem;
}
.outer-box{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.container{
    border: 2px solid var(--primary-color);
    border-radius: 5%;
    width: 45%;
    height: 65vh;
    position: absolute;
    top: 17vh;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about,.feedback,.contact{
    display: none;
}
.close{
    position: absolute;
    right: 0;
}
.close:hover{
    cursor: pointer;
}
.about{

    font-size: var(--size-l);
}
#contact_form{


    font-size: var(--size-l);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  