*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --size-x:1.5rem;
    --size-s:1.0rem;
    --size-es:0.5rem;
    --size-l:2.0rem;

    --size-pen:1.0rem;

    --primary-color:#1e3d59;
    --secondary-color:#fff;
    --tertiary-color:#c0bbac;
    --quaternary-color:#efece9;
    --margin:0 0 1.2rem;
}